<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="aplicacion">
        <label for="">valor a</label>
        <input v-model:type="a">
        <br>
        <label for="">valor b</label>
        <input v-model:type="b">
        <br> 
        <input type="button" value="Operaciones aritméticas" v-on:click="aritmetica" >       
        <h1>Suma {{ c }}</h1>
        <h1>Resta {{ resta }}</h1>
        <h1>Multiplicación {{ multi }}</h1>
        <h1>División {{ division }}</h1>
    </div>

 


    <script>
        var app = new Vue({
            el: '#aplicacion',
            data: {
                a:5,
                b:9,
                c:0,
                resta:0,
                multi:0,
                division:0
            },
            methods: {
                aritmetica: function(){
                    this.c= parseInt(this.a) + parseInt(this.b);  
                    this.resta= parseInt(this.a) - parseInt(this.b);  
                    this.multi= parseInt(this.a) * parseInt(this.b); 
                    
                    if (this.b==0){
                        this.division="No es posible, elay"
                    }
                    else{
                        this.division= parseInt(this.a) / parseInt(this.b); 
                    }
                     
                }
              }
          })

    </script>
    
</body>
</html>