<!-- pendiente... -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>

    <div id="aplicacion">
        ROJO
        <input type="range" v-bind:min="minimo" v-bind:max="maximo" v-model:value="rojo">                    
        <br>
        VERDE
        <input type="range" v-bind:min="minimo" v-bind:max="maximo" v-model:value="verde">                    
        <br>
        AZUL
        <input type="range" v-bind:min="minimo" v-bind:max="maximo" v-model:value="azul">                    
        <br>

        minimo: {{ minimo }}
        <br>
        maximo: {{ maximo}}
        <br>


        {{ colorhex}}
        
        <input type="color" v-model:value="colorhex">
        <h1 v-bind:style="estilo"> Titulo </h1>

        <input type="button" value="Mostrar Color" v-on:click="mostrarcolor" >   

    </div>


    <script>
        var app = new Vue({
            el: '#aplicacion',
            data: {
              minimo:0,
              maximo:255,
              rojo:9,
              verde:0,
              azul:0,
            
              estilo:"background-color:rgb(255, 000, 100);"
            },
            computed: {                
                colorhex: function () {   
                    var colorrojo="";
                    var colorverde="";
                    var colorazul="";
                    if(this.rojo <16){                        
                        colorrojo ="0"+Number(this.rojo).toString(16);
                    }
                    else
                    {
                        colorrojo = Number(this.rojo).toString(16);
                    }

                    if(this.verde <16){                        
                        colorverde ="0"+Number(this.verde).toString(16);
                    }
                    else
                    {
                        colorverde = Number(this.verde).toString(16);
                    }

                    if(this.azul <16){                        
                        colorazul ="0"+Number(this.azul).toString(16);
                    }
                    else
                    {
                        colorazul = Number(this.azul).toString(16);
                    }
                    
                    return "#"+ colorrojo+colorverde+colorazul;
                }
            },
            methods: {
                mostrarcolor: function(){
                  alert(this.colorhex)
                }
            }	
          })

    </script>
    
</body>
</html>